#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

.container {
  width: 100%;
  min-height: 100vh;

}

h2 {
  text-align: center;
  color: #3498db;
  margin-bottom: 20px;
}

.form-containaer{
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: flex-start;
}
form{
  padding: 30px;
  border: solid 1px #555;
  border-radius: 5px;
}
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-group label {
  width: 150px;
  font-weight: bold;
  color: #fff;
}

.form-group input[type="file"],
.form-group select {
  flex: 1;
  padding: 8px;
  border: 1px solid #3498db;
  border-radius: 4px;
  background-color: #111;
  color: #fff;
}
input[type="file"],
select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #333;
  color: #fff;
}

input[type="file"] {
  border: none;
}

select {
  background-color: #222;
  color: #fff;
}

#fileInput {
  background-color: #111;
  color: white;
}

#fileInput::file-selector-button {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}


.button {
  display: block;
  width: 100%;
  background-color: rgb(241, 9, 55);
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover{
  background-color: rgb(216, 28, 66);
}


.button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.error {
  color: crimson;
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
}

.summary {
  margin-top: 30px;
  background: #111;
  padding: 15px;
  border-radius: 4px;
}

.summary h3 {
  margin-bottom: 10px;
  color: #3498db;
}

.summary p {
  margin: 5px 0;
  font-size: 14px;
}

.table-container {
  margin-top: 20px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding: 10px;
  border: 1px solid #444;
  background-color: #3498db;
  color: #fff;
}

td {
  padding: 10px;
  border: 1px solid #444;
  background-color: #111;
  color: #fff;
}

pre {
  white-space: pre-wrap;
  word-break: break-word;
  background: #000;
  color: #fff;
  border-left: 3px solid #3498db;
  padding: 5px;
  padding-left: 30px;
  text-align: left;
  box-sizing: border-box;
}
